* {
    padding:0px;
    margin:0px;
}
*:focus {
  outline:none;
}
a {
  text-decoration:none;
  color:white;
}
Body {
    background-color:black;
}
::-webkit-scrollbar {
  width:0px;
}
::-webkit-scrollbar-track {
  border-radius:15px;
  background-color:none;
}
#toolbar {
  background-color:rgb(20,20,20);
  width:120px;
  height:55px;
  border-radius:10px;
  margin-left:10px;
  font-family:Aviny;
  font-size:30px;
  color:white;
  text-align:center;
  padding-top:5px;
  transition:0.2s;
}
#toolbar:hover {
  transform:scale(1.08);
}
#main-product {
  background:rgb(15,15,15);
  width:410px;
  height:390px;
  border-radius:20px;
  margin:40px 10px;
  display:inline-block;
  transition:0.3s;
}
#main-product:hover {
  transform:scale(1.03);
}
#product-profile {
  width:360px;
  height:200px;
  border-radius:20px;
}
#procut-name {
  font-family:Aviny;
  font-size:50px;
  color:white;
  text-align:center;
  padding-top:10px;
}
#procut-description {
  font-family:Aviny;
  font-size:20px;
  color:white;
  width:370px;
  text-align:center;
  padding-top:5px;
}
#center_container {
  justify-content:center;
  margin:50px auto;
}
#center-toolbar {
  justify-content:center;
  margin:30px auto;
  display:flex;
}
#profile-bar {
  background-color:rgb(20,20,20);
  width:60px;
  height:60px;
  border-radius:10px;
  margin:0px 10px;
  transition:0.3s;
}
#profile-bar:hover {
  transform:scale(1.08);
}
#search-bar {
  background-color:rgb(20,20,20);
  width:0px;
  height:0px;
  border-radius:10px;
  margin-left:0px;
  border:none;
  padding-left:0px;
  padding-right:0px;
  padding-top:2px;
  font-family:Aviny;
  font-size:30px;
  color:white;
  transition:0.2s;
}
#search-bar:hover {
  transform:scale(1.03);
}
#logo-bar {
  background-color:rgb(20,20,20);
  width:60px;
  height:60px;
  border-radius:10px;
  margin:0px 0px;
  transition:0.3s;
}
#logo-bar:hover {
  transform:scale(1.08);
}
#shopping-bag {
  width:50px;
  height:50px;
  margin:5px 5px;
}
#location {
  width:50px;
  height:50px;
  margin:0px 5px;
}
#category {
  width:50px;
  height:50px;
  margin:3px 5px;
}
#home-reload {
  width:50px;
  height:50px;
  margin:3px 5px;
}
#search {
  width:50px;
  height:50px;
  margin:3px 5px;
}
#location-text {
  background-color:rgb(20,20,20);
  width:0px;
  height:0px;
  border-radius:10px;
  margin-left:0px;
  border:none;
  padding-left:0px;
  padding-right:0px;
  font-family:Aviny;
  font-size:0px;
  padding-top:6px;
  color:white;
  text-align:center;
  transition:0.2s;
}
#location-text:hover {
    transform:scale(1.03);
}
@media only screen and (max-width: 1200px) {

}
