* {
    padding:0px;
    margin:0px;
}
*:focus {
  outline:none;
}
a {
  text-decoration:none;
  color:white;
}
Body {
    background-color:black;
}
::-webkit-scrollbar {
  width:0px;
}
::-webkit-scrollbar-track {
  border-radius:10px;
  background-color:none;
}
#toolbar {
  background-color:rgb(10,10,10);
  width:60px;
  height:60px;
  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  margin:20px 5px;
  transition:0.2s;
}
#toolbar:hover {
  transform:scale(1.05)
}
.icon {
  width:50px;
  height:50px;
  border-radius:10px;
  margin:5px 5px;
  cursor:pointer;
}
#icon-container {
  justify-content:center;
  display:flex;
  margin:0px auto;
}
#search-bar {
  width:500px;
  height:60px;
  border-radius:10px;
  background:rgb(10,10,10);
  border:none;
  margin:20px 5px;
  font-family:Aviny;
  font-size:26px;
  color:white;
  text-align:center;
  transition:0.2s;
}
#search-bar:hover {
  transform:scale(1.01);
}
