* {
  padding:0px;
  margin:0px;
}
*:focus {
  outline:none;
}
:root {
  --main-bg-color:#A6E1FA;
  --main-darker-bg-color: #C8F5FF;
}
::-webkit-scrollbar {
  width:0px;
}
::-webkit-scrollbar-track {
  border-radius:10px;
  background-color:none;
}
::placeholder {
  color:white;
  opacity:0.5;
}
a {
  text-decoration:none;
  color:white;
}
Body {
  background-color:black;
}
#input-container {
  justify-content:center;
  display:flex;
  margin:60px auto;
}
#product-name-input {
  background:var(--main-bg-color);
  width:500px;
  height:60px;
  border:none;
  border-radius:10px;
  text-align:center;
  font-family:Aviny;
  font-size:28px;
  margin-top:20px;
  color:white;
}
#product-price-input {
  background:var(--main-bg-color);
  width:500px;
  height:60px;
  border:none;
  border-radius:10px;
  text-align:center;
  font-family:Aviny;
  font-size:28px;
  margin-top:20px;
  color:white;
}
#product-category-input {
  background:var(--main-bg-color);
  width:240px;
  height:240px;
  border:none;
  border-radius:10px;
  text-align:center;
  font-family:Aviny;
  font-size:28px;
  color:white;
  margin:20px 0px;
  cursor:pointer;
}
#product-image-input {
  background:var(--main-bg-color);
  width:240px;
  height:240px;
  border:none;
  border-radius:10px;
  text-align:center;
  font-family:Aviny;
  font-size:28px;
  color:transparent;
  text-indent:-9999px;
  margin:20px 20px;
  position:absolute;
  cursor:pointer;
}
#product-submit-input {
  background:var(--main-bg-color);
  width:500px;
  height:60px;
  border:none;
  border-radius:10px;
  text-align:center;
  font-family:Aviny;
  font-size:28px;
  color:white;
  margin-top:0px;
  cursor:pointer;
}
@font-face {
  font-family:Aviny;
  src:url('../font/Aviny.ttf');
}
