* {
    padding:0px;
    margin:0px;
}
*:focus {
  outline:none;
}
a {
  text-decoration:none;
  color:white;
}
Body {
    background-color:black;
}
::-webkit-scrollbar {
  width:0px;
}
::-webkit-scrollbar-track {
  border-radius:15px;
  background-color:none;
}
#main-container {
  justify-content:center;
  margin:0px auto;
  display:flex;
}
#product {
  background:rgb(10,10,10);
  border-radius:10px;
  width:350px;
  height:60px;
  border:none;
  text-align:center;
  color:white;
  font-family:Aviny;
  font-size:30px;
  padding-left:30px;
  padding-right:30px;
  margin-top:100px;
}
#price {
  background:rgb(10,10,10);
  border-radius:10px;
  width:350px;
  height:60px;
  border:none;
  text-align:center;
  color:white;
  font-family:Aviny;
  font-size:30px;
  padding-left:30px;
  padding-right:30px;
  margin-top:20px;
}
#category {
  background:rgb(10,10,10);
  border-radius:10px;
  width:200px;
  height:180px;
  border:none;
  text-align:center;
  color:white;
  font-family:Aviny;
  font-size:30px;
  padding-left:30px;
  padding-right:30px;
  padding-top:190px;
}
#image {
  background:rgb(10,10,10);
  border-radius:10px;
  width:0px;
  height:0px;
  border:none;
  text-align:center;
  color:white;
  font-family:Aviny;
  font-size:30px;
  padding-left:100px;
  padding-right:100px;
  padding-top:190px;
  margin-top:20px;
  margin-left:5px;
}
#submit {
  background:rgb(10,10,10);
  border-radius:10px;
  width:410px;
  height:60px;
  border:none;
  text-align:center;
  color:white;
  font-family:Aviny;
  font-size:30px;
  padding-left:30px;
  padding-right:30px;
  margin-top:-15px;
}
#select_title {
  font-family:Aviny;
  font-size:30px;
  color:white;
  margin:-200px 400px;
}
