* {
    padding:0px;
    margin:0px;
}
*:focus {
  outline:none;
}
a {
  text-decoration:none;
  color:white;
}
Body {
    background-color:black;
}
::-webkit-scrollbar {
  width:0px;
}
::-webkit-scrollbar-track {
  border-radius:15px;
  background-color:none;
}
#product {
  background:rgb(48, 185, 219);
  width:500px;
  height:60px;
  border-radius:10px;
  text-align:center;
  border:none;
  font-family:Aviny;
  font-size:34px;
  color:white;
  display:flex;
  margin:120px auto;
}
#price {
  background:rgb(48, 185, 219);
  width:500px;
  height:60px;
  border-radius:10px;
  text-align:center;
  border:none;
  font-family:Aviny;
  font-size:34px;
  color:white;
  display:flex;
  margin:-100px auto;
}
#category {
  background:rgb(48, 185, 219);
  width:500px;
  height:60px;
  border-radius:10px;
  text-align:center;
  border:none;
  font-family:Aviny;
  font-size:34px;
  color:white;
  display:flex;
  margin:120px auto;
}
#image {
  font-family:calibri;
  width:0px;
  height:40px;
  justify-content:center;
  display:flex;
  margin:-100px auto;
  padding-top:20px;
  color:white;
  border:none;
  border-radius:10px;
  text-align: center;
  background-color:rgb(48, 185, 219);
  cursor: pointer;
  padding-left:500px;
}
#submit {
  background:rgb(48, 185, 219);
  width:500px;
  height:60px;
  border-radius:10px;
  text-align:center;
  border:none;
  font-family:Aviny;
  font-size:34px;
  color:white;
  display:flex;
  margin:120px auto;
}
