{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="icon" href="{% static 'img/icon/toolbar/webshop.png' %}">
    <title>
      Webshop | Cart
    </title>
  </head>
  <body>
    {% for Cart in Carts %}
        <p>{{Cart.name}}</p>
        <p>{{Cart.likes}}</p>
        <hr>
    {% endfor %}
    <script src="{% static 'js/cart.js' %}"></script>
  </body>
</html>
