{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="icon" href="{% static 'img/icon/toolbar/webshop.png' %}">
    <title>
      Webshop | Cart
    </title>
  </head>
  <body>
    <div data-aos="fade-up" id="product-container">
      {% for Cart in Carts %}
        <div id="product-structure">
          <img id="product-image" src="{{Cart.image.url}}">           
          <form method="POST" enctype="multipart/form-data">
            <div id="product-data-container">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="text" name="product-name" id="product-title" value="{{Cart.name}}" readonly>
              <p name="product-price" id="product-price">قیمت کالا : {{Cart.price}}</p>
              <p name="product-category" id="product-category">دسته بندی کالا : {{Cart.category}}</p>
            </div>
            <button title="Add" name="add-product-button" id="add-product-button">افزودن</button>
            <button title="Like" name="like-product-button" id="like-product-button">پسند</button>
            <img name="fake-product-image" id="fake-product-image" src="{{Cart.image.url}}"> 
            <div id="fake-product-likes-section">{{Cart.likes}}</div>
          </form>
          <div id="product-likes-section">تعداد پسند های کالا : {{Cart.likes}}</div>
        </div>
      {% endfor %}
    </div>
    <script src="{% static 'js/cart.js' %}"></script>
  </body>
</html>
