{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=0.9"/>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="icon" href="{% static 'img/Sicon.png' %}">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <title>
            Home
        </title>
    </head>
    <body>

      <div data-aos="fade-down" id="center-toolbar">
        <div id="logo-bar">
          <img id="shopping-bag" src="{% static 'img/webshop.png' %}">
        </div>
        <a href="/"><div style="width:60px; height:57px;" id="toolbar">
          <img id="home-reload" src="{% static 'img/home.png' %}">
        </div></a>
        <div style="width:60px; height:57px;" id="toolbar">
          <img id="category" src="{% static 'img/category.png' %}">
        </div>
        <div onclick="load_search()" style="width:60px; height:57px;" id="toolbar">
          <img id="search" src="{% static 'img/search.png' %}">
        </div>
        <input type="text" placeholder="Search" id="search-bar">
        <div onclick="load_location()" style="width:60px; height:57px;" id="toolbar">
          <img id="location" src="{% static 'img/location.png' %}">
        </div>
        <div id="location-text">Iran</div>
        <div id="profile-bar">
          <img id="shopping-bag" src="{% static 'img/bag.png' %}">
        </div>
      </div>

      <center>
      <div data-aos="fade-down" id="center_container">
        <!-- {% for Product in Products %}
          <div id="main-product">
            <p id="procut-name">{{Product.product}}</p>
            <img id="product-profile" src="{{Product.profile.url}}">
            <p id="procut-description">{{Product.description}}</p>
          </div>
        {% endfor %} -->
      </div>
      </center>
    </body>
    <script src="{% static 'js/index.js' %}"></script>
</html>
