{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="icon" href="{% static 'img/webshop.png' %}">
        <title>
            Webshop
        </title>
    </head>
    <body>
      <div id="toolbar-icon-container">
        <a href="/"><div id="toolbar">
          <img title="Home" id="icon" src="{% static 'img/home.png' %}">
        </div></a>
        <a href="/offer"><div id="toolbar">
          <img title="Offer" id="icon" src="{% static 'img/sell.png' %}">
        </div></a>
        <a href="/"><div id="toolbar">
          <img title="Products" id="icon" src="{% static 'img/offers.png' %}">
        </div></a>
        <input type="text" placeholder="جست و جو" id="search-bar">
        <input type="text" placeholder="در حال بارگیری" disabled id="location-bar">
        <div onclick="load_search()" id="toolbar">
          <img title="Search" id="icon" onclick="load_search()" src="{% static 'img/search.png' %}">
        </div>
        <div onclick="load_location()" id="toolbar">
          <img title="Location" id="icon" onclick="load_location()" src="{% static 'img/location.png' %}">
        </div>
        <a href="/"><div id="toolbar">
          <img title="Cart" id="icon" src="{% static 'img/cart.png' %}">
        </div></a>
      </div>

      <div id="main-news-board"></div>

      <div id="product-container">
        {% for Product in Products %}
          <div id="product-structure">
            <img id="product-image" src="{{Product.image.url}}">            
            <form method="POST" enctype="multipart/form-data">
              <div id="product-data-container">
                {% csrf_token %}
                {{ form.as_p }}
                <input name="liked-product" id="product-title" value="{{Product.name}}" disabled>
                <p id="product-price">قیمت کالا : {{Product.price}}</p>
                <p id="product-category">دسته بندی کالا : {{Product.category}}</p>
              </div>
              <button title="Add" name="add-product-button" id="add-product-button">افزودن</button>
              <button title="Like" name="like-product-button" id="like-product-button">پسند</button>
            </form>
          </div>
        {% endfor %}
      </div>
    </body>
    <script src="{% static 'js/index.js' %}">AOS.init();</script>
</html>
