{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="icon" href="{% static 'img/icon/toolbar/webshop.png' %}">
        <title>
            Webshop | Home
        </title>
    </head>
    <body>
      <div data-aos="fade-down" id="toolbar-icon-container">
        <a href="/"><div id="toolbar">
          <img title="Home" id="icon" src="{% static 'img/icon/toolbar/home.png' %}">
        </div></a>
        <a href="/"><div id="toolbar">
          <img title="Register" id="icon" src="{% static 'img/icon/toolbar/register.png' %}">
        </div></a>
        <a href="/offer"><div id="toolbar">
          <img title="Offer" id="icon" src="{% static 'img/icon/toolbar/sell.png' %}">
        </div></a>
        <a href="/"><div id="toolbar">
          <img title="Dashboard" id="icon" src="{% static 'img/icon/toolbar/offers.png' %}">
        </div></a>
        <input type="text" placeholder="جست و جو" id="search-bar">
        <input type="text" placeholder="در حال بارگیری" id="location-bar" readonly>
        <div onclick="load_search()" id="toolbar">
          <img title="Search" id="icon" onclick="load_search()" src="{% static 'img/icon/toolbar/search.png' %}">
        </div>
        <div onclick="load_location()" id="toolbar">
          <img title="Location" id="icon" onclick="load_location()" src="{% static 'img/icon/toolbar/location.png' %}">
        </div>
        <a href="/products"><div id="toolbar">
          <img title="Products" id="icon" src="{% static 'img/icon/toolbar/products.png' %}">
        </div></a>
        <a href="/cart"><div id="toolbar">
          <img title="Cart" id="icon" src="{% static 'img/icon/toolbar/cart.png' %}">
          {% if Count > 0 %}
            <div id="cart-product-count">{{Count}}</div>
          {% endif %}
        </div></a>
      </div>
      <div data-aos="fade-down" id="main-news-board"></div>

      <div data-aos="fade-up" data-aos-duration="750" id="product-container">
        {% for Product in Products %}
          <div id="product-structure">
            <img id="product-image" src="{{Product.image.url}}">           
            <form method="POST" enctype="multipart/form-data">
              <div id="product-data-container">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="text" name="product-name" id="product-title" value="{{Product.name}}" readonly>
                <p name="product-price" id="product-price">قیمت کالا : {{Product.price}} تومان</p>
                <p name="product-category" id="product-category">دسته بندی کالا : {{Product.category}}</p>
              </div>
              <button title="Add" name="add-product-button" id="add-product-button">افزودن</button>
              <button title="Like" name="like-product-button" id="like-product-button">پسند</button>
              <img name="fake-product-image" id="fake-product-image" src="{{Product.image.url}}"> 
              <div id="fake-product-likes-section">{{Product.likes}}</div>
            </form>
            <div id="product-likes-section">تعداد پسند های کالا : {{Product.likes}}</div>
          </div>
        {% endfor %}
      </div>
    </body>
    <script src="{% static 'js/index.js' %}"></script>
</html>
