{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="{% static 'css/offer.css' %}">
    <link rel="icon" href="{% static 'img/icon/toolbar/webshop.png' %}">
    <title>
      Webshop | Offer
    </title>
  </head>
  <body>
    <div data-aos="fade-down" id="input-container">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="text" autocomplete="off" name="product-name-input" id="product-name-input" placeholder="نام کالا">
          <br>
          <input type="text" autocomplete="off" name="product-price-input" id="product-price-input" placeholder="قیمت کالا">
          <br>
          <select name="product-category-input" id="product-category-input">
            <option>دسته بندی</option>
            <option>پوشاک</option>
            <option>الکتریکی</option>
            <option>غذایی</option>
            <option>اسباب بازی</option>
            <option>وسایل خانه</option>
            <option>هیچکدام</option>
          </select>
          <input type="file" name="product-image-input" id="product-image-input">
          <br>
          <input type="submit" name="product-submit-input" id="product-submit-input" value="ثبت آگهی">
      </form>
    </div>
    <script src="{% static 'js/offer.js' %}"></script>
  </body>
</html>
