{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="icon" href="{% static 'img/folder.png' %}">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>
      Product
    </title>
  </head>
  <body>
    <div id="main-container" data-aos="fade-down">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <input autocomplete="off" name="product" id="product" type="text" placeholder="نام کالا">
          <br>
          <input autocomplete="off" name="price" id="price" type="text" placeholder="قیمت کالا">
          <br>
          <select name="category" id="category">
            <option>دسته بندی</option>
            <option>پوشاک</option>
            <option>الکتریکی</option>
            <option>غذایی</option>
            <option>اسباب بازی</option>
            <option>وسایل خانه</option>
            <option>هیچکدام</option>
          </select>
          <input name="image" id="image" type="file">
          <br>
          <input onclick="check_form" type="submit" value="ثبت آگهی" id="submit">
      </form>
    </div>
    <script src="{% static 'js/product.js' %}"></script>
  </body>
</html>
